body { 
    background: url("../images/bg.webp") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
h1,h2,h3,h4,h5,h6,p{font-family:'Quicksand',sans-serif;}
@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; } 
}
@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
.fadeIn {
    -webkit-animation: fadeIn 1s ease-in-out;
    -moz-animation: fadeIn 1s ease-in-out;
    -o-animation: fadeIn 1s ease-in-out;
    animation: fadeIn 1s ease-in-out;
}
@font-face {
  font-family: 'metro';
  src: url('../mif/metro.ttf?niykz5') format('truetype'), url('../mif/metro.woff?niykz5') format('woff'), url('../mif/metro.svg?niykz5#metro') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
[class*=mif-] {
  font-family: 'metro' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  display: inline-block;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.mif-4x {
  font-size: 2.5em;
}
.mif-5x {
  font-size: 3em;
}
.mif-home:before {
  content: "\e900";
}
.mif-folder:before {
  content: "\e92f";
}
.mif-whatsapp:before {
  content: "\e90b";
}
.mif-twitter:before {
  content: "\ea91";
}
.mif-arrow-right:before {
  content: "\ea3c";
}
.mif-instagram:before {
  content: "\e6c5";
}
