@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@700&display=swap');
@import "color-scheme.css";
.screen-height {
  height: 100vh;
}
.screen-width {
  width: 100vw;
}
.darken{
  filter: brightness(75%);
}
[class*="image"]{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position:relative; 
}
h1, .h1 {
    margin-top: 0;
    line-height: 1;
    color: white;
    font-family: 'Sansita Swashed', cursive;
}
/* For small and portrait screens */
@media screen and (max-width:768px) {
  h1, .h1 {
    font-size: 5rem;
  }
  .image1{
    background-image: url('/img/bg-portrait1.jpg');
  }
  .image2{
    background-image: url('/img/bg-portrait2.jpg');
  }
  .image3{
    background-image: url('/img/bg-portrait3.jpg');
  }
}

/* Medium and large screens */
@media screen and (min-width: 768px) {
  h1, .h1 {
    font-size: 7rem;
  }
  .image1{
    background-image: url('/img/bg-picture1.jpg');
  }
  .image2{
    background-image: url('/img/bg-picture2.jpg');
  }
  .image3{
    background-image: url('/img/bg-picture3.jpg');
  }

}
