.bg-transparent {
  background: transparent;
}
.fg-primary {
  color: black;
}
.bg-primary {
  background: #f0a30a;
}
.bg-secondary {
  background: #647687;
}
.fg-secondary {
  color: white;
}
.screen-height {
  height: 100vh;
}
.screen-width {
  width: 100vw;
}
.darken{
  filter: brightness(50%);
}
