<div class="animation">
  <div class="row bg-white flex-align-center no-gap">
    <div class="cell-md-8">
      <h1 class="display2 fg-black">Rafael Voigt Ferreira</h1>
      <h2><small>Fotógrafo & Músico</small></h2>
    </div>
    <div class="cell-md">
      <a href="#work">
        <div class="img-container">
          <img class="" src="images/me.webp" alt="Rapaz sentado no parachoque de um fusca com um violão no colo">
          <div class="image-overlay">
            <span class="pos-relative pos-center mif-arrow-right mif-5x">Ver fotos</span>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
