<div class="animation">
  <div class="row bg-white flex-align-center no-gap">
    <div class="cell-md-8 fg-black text-light">
      <h2 class="pt-10">Rafael Voigt Ferreira</h2>
      <h3><small>Fotógrafo e músico</small></h3>
    </div>
    <div class="cell-md">
      <a href="#work">
        <div class="img-container">
          <img src="images/me.webp" alt="Rapaz sentado no parachoque de um fusca com um violão no colo"> 
          <div class="bg-lightOrange"><span class="ani-pass mif-arrow-right mif-5x fg-white"></span></div>
          <div class="image-overlay op-orange">
            <h3 class="pos-relative pos-center">Ver fotos</h3>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
